table.col-2 td {
  width: 50%;
  border-top: 0;
}

img.stretch-center {
    min-width: 100%;
}

img.stretch-75 {
    width: 75%;
}

.img-wrapper-center {
    text-align: center;
}

p.center {
  text-align: center;
}

/*
Styles for home page logo and nav
*/

.bair-logo {
    width: 90%;
}

.bair-blog-site-nav {
    margin-top: 30px;
}

@media screen and (min-width: 32em){
    .bair-logo {
        width: 57%;
    }
    .site-nav.bair-blog-site-nav {
        margin-top:-30px;
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
