table.col-2 td {
  width: 50%;
  border-top: 0;
}

img.stretch-center {
    min-width: 100%;
}

img.stretch-75 {
    width: 75%;
}

.img-wrapper-center {
    text-align: center;
}

p.center {
  text-align: center;
}

/*
Styles for home page logo and nav
*/

.bair-logo {
    width: 90%;
}

.bair-blog-site-nav {
    margin-top: 30px;
}

@media screen and (min-width: 32em){
    .bair-logo {
        width: 57%;
    }
    .site-nav.bair-blog-site-nav {
        margin-top:-30px;
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




/*
 * Daniel Seita: added by following:
 * https://stackoverflow.com/questions/54633409/how-to-align-images-horizontally-side-by-side-with-captions-underneath
 * For Sudeep's post (Nov 2019) with horizontally aligned figures and figure captions.
 */

.containerWide {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.photosWide {
   display:flex;
   justify-content:center;
   flex-direction: column;
   flex-grow: 1;
}

.imageWide {
    display: block;
    width: 98%;
}

.wordWide {
    display:block;
    width: 98%;
    text-align:center;
}

/*
 * Anastasios: Create a figure which is half-width on desktop but not on mobile.
 *
 */
.halffigure{
    padding: 2em;
}
@media only screen and (max-width: 1000px) {
    .halffigure{
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 20px;
    }
}
@media only screen and (min-width: 1000px) {
    .halffigure {
        width: 45%;
        vertical-align: right;
        float:right;
    }
}



/*
 * Daniel Seita: added for Ashvin Nair's AWAC post.
 */
.vertical-line-170p {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 170px;
}
