---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
     {% if post.visible %}
      <div class="post">
        
      <h1 class="h1 post-title">
      <center>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a>
      </center>
      </h1>
      <p class="post-summary">

      <h5><center> 
      <span class="post-meta">{{ post.author }}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="post-meta">{{ post.date | date: site.date_format }}</span>
      </center></h5>
      <br>
      {% if post.cover %} {{ post.cover }} {% endif %}
      {{ post.excerpt }} 
      <a href="{{ post.url | prepend: site.baseurl }}">Continue</a>
      </p>
      </div>
     {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
